a.linkAlLog {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-style: bold;
    position: relative;
    top: 200px;
    left: 30%;
  }
.registro {
   width: 300px;
   margin: 30px ;
  }

  input {
    width: 300px;
    margin: 30px auto;
  }

.mainReg {
    height: 1000px;
    justify-content: center;
  }
  
.bottonVde {
    background-color: #1CD1B0;
    border-radius: 25px;
    border: 0px;
    display: inline;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-style: bold;
    position: relative;
    left: 200px;
    top: 90px;
    margin-left: 20px;;
    width: 300px;
  }
  
.bottonGrs {
    background-color: #888888;
    border-radius: 25px;
    border: 0px;
    color:white;
    display: inline;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-style: bold;
    position: relative;
    width: 300px;
  }