@font-face {
    src: url('../Roboto/Roboto-Light.ttf');
    font-family: 'Roboto';
}

:root {
    --color--primario--normal: #00669F;
    --color--primario--dark:#001D2D;
    --color-corazonIcono: #CC2424;
    --color--letra: #000000;
    --color--fondoCards: #F3F3F3;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}   

/* descuento */

.descuento {
    background: #1CD1B0;
    color:var(--color--letra);
    font-size: 22px;
    padding: 5px;
    padding-left: 30px;
}

header {
    background-color: var(--color--primario--normal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--color--letra);
    position: sticky;
    top: 0px;
    z-index: 999;
}

/* Cartel de presentación de la tienda */

.principal {
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 8vh;
    margin: 10px 10px 0px 10px;
}

 
.principal > h1 {
    color: white;    
    font-size: 3rem;
    margin-top: 0.8%;
}


/* Vamos con el nav */

nav {
    background-color: var(--color--primario--dark);
    box-shadow: 0 7px 7px black;
    height: 40px;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
}

nav > ul > li {
    display: inline-block;
    padding: 8px;
    margin-left: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    height: 10px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
}

/* main */
main {
    display: flex;
    justify-content: center;
}

#login {
    background-color: var(--color--primario--normal);
    width: 60vw;
    height: 832px;
    top: 250px;
    left: 243px;
    border-radius: 49.09px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

form {
    display: flex;
    flex-direction: column;
}